[Unit]
Description=Configure device service
After=snapd.service snapd.socket

[Service]
Type=simple
ExecStart=/writable/system-data/var/lib/configure-device/run.sh
Restart=always
